extends layout

include _includes/sharedHTMLfunctions


block content
	.container
		.row.page-header: .col-lg-12
				h1= pageHeader.title
					small &nbsp;
						+outputRating(location.rating)
		
		.row
			.col-xs-12.col-sm-6
				.btnaddress #{location.address}
				&nbsp
				.panel.panel-default.panel-info
					.panel-heading
						h2.panel-title Opening Hours
					.panel-body
						each time in location.openingTimes
							p
								| #{time.days} : 
								if time.close
									| Closed
								else
									| #{time.opening} - #{time.closing}
				.panel.panel-default.panel-success
					.panel-heading
						h2.panel-title Yuppie Perqs.
					.panel-body
						each facility in location.facilities
							span.label.label-success= facility	
							&nbsp;
				.panel.panel-default.panel-danger
					.panel-heading
						h2.panel-title Warnings
					.panel-body
						each warning in location.warnings
							span.label.label-danger= warning	
							&nbsp;

			.col-xs-12.col-sm-6.col-lg-6.location-map
				.panel.panel-default.panel-info
					.panel-heading
						h2.panel-title Location map
					.panel-body
							img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=33.1640220,-97.1016460&zoom=9&size=400x350&sensor=false&markers=33.1640220,-97.1016460&scale=2')
		.row
				p.center= sidebar.callToAction

		.row
			.col-xs-12
				.panel.panel-default.panel-info
					.panel-heading
						a.btn.btn-default.btn-xs.pull-right(href='/location/review/new') Add review
						
						h2.panel-title Customer reviews

					.panel-body.review-container
						.row
							each review in location.reviews
								.review
									.well.well-sm.review-header
										span.rating 
											+outputRating(review.rating) 
										&nbsp 
										span.reviewAuthor #{review.author.displayName}
										&nbsp
										small.reviewTimestamp
											+formatDate(review.createdOn)
									
									p !{(review.reviewText).replace(/\n/g, '<br/>')}

					.col-xs-12.col-sm-10
						p.lead #{location.name} #{sidebar.context}
						p= sidebar.calltoAction
